<div class="toolbar">
  <div class="nav-icons">
    <%= link_to new_cocktail_path do %>
      <i class='fas fa-glass-martini'></i>
    <% end %>

    <%= link_to new_cocktail_path do %>
      <i class="fas fa-mortar-pestle"></i>
    <% end %>

    <%= link_to new_cocktail_path do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
</div>
