.drink-card {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 12px 2px #ff6363;
  transition: 0.3s;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-bottom: 20px;
}
