.toolbar {
  display: flex;
  align-items: center;
  border: 10px solid #ffbd69;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  width: 100vw;
  height: 95px;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-grow: 1;

  i {
    text-decoration: none;
    color: #ffbd69;
    font-size: 30px;
  }
}
