.navbar {
  display: flex;
  text-decoration: none;
  color: white;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  background: transparent;
}

.add-drink a {
  text-decoration: none;
  color: white;
}
